<header class="container mx-auto px-4 py-8">
        <nav class="flex items-center mb-8 animate-fade-in-up">
  
            <!-- Logo -->
            <a routerLink=""
                class="font-playfair text-2xl font-bold bg-gradient-to-r from-pink-200 to-rose-300 bg-clip-text text-transparent">
               <!--img src="logo.png" alt=""--> MyK
            </a>

            <!-- Desktop Menu -->
            <div class="hidden md:flex items-center gap-6 ml-auto">

                <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                class="text-rose-200 hover:text-white hover:underline hover:decoration-white transition text-sm md:text-base font-medium">
                    Commander
                </a>

                <a routerLink="/tracking" routerLinkActive="active" class="text-rose-200 hover:text-white hover:underline hover:decoration-white transition text-sm md:text-base font-medium">
                    Suivre commande
                </a>

                <a *ngIf="loginService.isLoggedIn()" routerLink="/my-orders" routerLinkActive="active"
                class="text-rose-200 hover:text-white hover:underline hover:decoration-white transition text-sm md:text-base font-medium">
                    Mes commandes
                </a>

                <a routerLink="/contact" routerLinkActive="active"
                class="text-rose-200 hover:text-white hover:underline hover:decoration-white transition text-sm md:text-base font-medium">
                    Contact
                </a>

                <!-- Connexion = bouton desktop -->
                <a *ngIf="!loginService.isLoggedIn()" routerLink="/login"
                class="ml-4 bg-rose-600 hover:bg-rose-700 text-white px-5 py-2 rounded-full text-sm font-semibold transition">
                    Connexion
                </a>

                <button *ngIf="loginService.isLoggedIn()" 
                        (click)="seDeconnecter()"
                        class="bg-rose-600 text-white px-4 py-2 rounded-lg hover:bg-rose-500 transition">
                    Se déconnecter
                </button>

            </div>


            <!-- Mobile menu button -->
            <button (click)="toggleMobileMenu()" class="md:hidden ml-auto text-rose-200 hover:text-white p-2">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button>
            </nav>

            <!-- Mobile Menu -->
            <div *ngIf="isMobileMenuOpen"  class="md:hidden flex flex-col gap-4 mt-4">
                <a routerLink="/categories" (click)="closeMobileMenu()">Commander</a>
                <a routerLink="/tracking" (click)="closeMobileMenu()"> Suivre commande</a>
                <a *ngIf="loginService.isLoggedIn()" routerLink="/my-orders" routerLinkActive="active"
                    class="text-rose-200 hover:text-white hover:underline hover:decoration-white transition text-sm md:text-base font-medium">
                    Mes commandes
                </a>
                <a routerLink="/contact" (click)="closeMobileMenu()">Contact</a>
                <a *ngIf="!loginService.isLoggedIn()" routerLink="/login" (click)="closeMobileMenu()">Connexion</a>
                <button *ngIf="loginService.isLoggedIn()" (click)="seDeconnecter(); closeMobileMenu()">Se Déconnecter</button>
            </div>



        <!-- Logo principal -->
        <div class="text-center">
            <h1 class="font-playfair text-5xl md:text-7xl font-bold mb-2 bg-gradient-to-r from-pink-200 via-rose-300 to-red-200 bg-clip-text text-transparent animate-fade-in-up">
                Mystery kdo
            </h1>
            <p class="text-rose-200 text-sm md:text-base tracking-[0.3em] uppercase animate-fade-in-up delay-200">
                L'art de la surprise
            </p>
        </div>
</header>