/* You can add global styles to this file, and also import other style files */
/* success */
.toast-success {
  @apply bg-green-500 text-white;
}

/* error */
.toast-error {
  @apply bg-red-500 text-white;
}

/* info */
.toast-info {
  @apply bg-blue-500 text-white;
}

/* warning */
.toast-warning {
  @apply bg-yellow-500 text-black;
}
